<template>
  <v-row>
    <introduction/>
  </v-row>
</template>

<script>
import Introduction from "../components/Introduction.vue";
export default {
  name: "Home",
  components: {
    Introduction,
  },
};
</script>
