<template>
  <v-footer dark class="text-center">
    <!-- <button type="button"
      class="btn btn-floating btn-lg btn-back-to-top"
    >
      <i class="fas fa-arrow-up"></i>
    </button> -->
    <!-- <v-card flat tile class="lighten-1 white--text text-center"> -->
    <!-- <v-card-text> -->
    <div v-for="items in icons" :key="items.id" class="mx-auto">
      <v-btn
        v-for="item in items"
        :key="item.id"
        class="mx-4 special-link"
        icon
      >
        <a :href="item.link" target="_blank"
          ><v-icon size="24px">
            {{ item.icon }}
          </v-icon></a
        >
      </v-btn>
    </div>
    <!-- </v-card-text> -->

    <v-card-text class="white--text pt-0 special-link mt-4">
      Je remercie <a href="https://simplon.co">Simplon.co</a> de m'avoir formé au développement, ils
      forment de nombreuses personnes aux métiers du numérique et des sessions démarrent
      tout au long de l'année.
    </v-card-text>

    <v-divider></v-divider>

    <v-card-text class="special-link">
      {{ new Date().getFullYear() }} —
      <strong
        ><a href="https://melinweb.fr" target="_blank"
          >Melissa Galvan</a
        ></strong
      >
    </v-card-text>
    <!-- </v-card> -->
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
  data: () => ({
    icons: [
      {
        github: { icon: "mdi-linkedin", link: "https://github.com/iamel-g" },
        gitlab: { icon: "mdi-instagram", link: "https://gitlab.com/m_galvan" },
        twitter: {
          icon: "mdi-twitter",
          link: "https://twitter.com/melinwebfr",
        },
      },
    ],
  }),
};
</script>

<style>
.special-link a,
.special-link a:visited {
  color: #ff9808 !important;
}

.btn-back-to-top {
  color: #ff9808;
  position: fixed;
  font-size: 1.6em;
  bottom: 20px;
  right: 20px;
  /* display: none; */
  border: none;

}

.btn-back-to-top:hover {
  color: #ff9808!important;
}
</style>