<template>
  <v-row justify="center">
    <v-col cols="8">
      <h1>Welcome !</h1>
      <p>
        Tu veux connaître quelques bases en programmation ?<br />
        J'ai synthétisé de nombreux cours je souhaite les partager pour que chacun puisse faire ses
        premiers pas dans ce beau domaine :).<br />
        J'espère que mes ressources t'aideront le plus possible et n'hésite pas
        à me contacter si tu as des remarques !
      </p>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "introduction",
};
</script>

<style>
</style>
