<template>
  <v-card class="overflow-auto">
    <h1 class="site-title mb-0">
      <router-link :to="'/'">{{ siteTitle }}</router-link>
    </h1>
    <p class="mb-0">
      <small>{{ subTitle }}</small>
    </p>
    <v-list class="p-0">
      <v-list-item class="my-5 sidebar-list">
        <router-link :to="'a-propos'">A propos</router-link>
      </v-list-item>

      <v-list-group no-action append-icon="mdi-menu-down">
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>
              <v-icon class="mr-1 mb-1">mdi-cog</v-icon>
              Langages</v-list-item-title
            >
          </v-list-item-content>
        </template>
        <v-list-item v-for="item in langData" :key="item.id">
          <v-list-item-title
            ><router-link :to="item.link">{{
              item.title
            }}</router-link></v-list-item-title
          >
        </v-list-item>
      </v-list-group>

      <v-list-group no-action append-icon="mdi-menu-down">
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>
              <v-icon class="mr-1 mb-1">mdi-cog</v-icon>
              CMS</v-list-item-title
            >
          </v-list-item-content>
        </template>
        <v-list-item v-for="item in cmsData" :key="item.id">
          <router-link :to="item.link">{{ item.title }}</router-link>
        </v-list-item>
      </v-list-group>

      <v-list-item class="my-5">
        <a :href="'mailto:mgalvan-dev@outlook.fr'">Me contacter</a>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
import sidebarLangData from "../data/sidebar/sidebar-lang-data.json";
import sidebarCmsData from "../data/sidebar/sidebar-cms-data.json";
export default {
  name: "Sidebar",
  props: ["siteTitle", "subTitle"],
  data() {
    return {
      langData: sidebarLangData,
      cmsData: sidebarCmsData,
    };
  },
};
</script>

<style>
.site-title {
  font-size: 1.3em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: normal;
}

.site-title::before {
  content: "R";
  color: #ff9808;
  font-size: 2em;
  font-weight: bold;
}

.site-title:hover {
  color: #000 !important;
}

.v-application--is-ltr
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding-left: 49px !important;
}

.v-list .v-list-item--active {
  color: #ff9808 !important;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none !important;
}
</style>