<template>
  <v-app>
    <v-container fluid class="px-0 py-0">
      <v-row class="m-0">
        <v-col cols="12" md="3" lg="3" xl="2">
          <Sidebar :siteTitle="siteTitle" :subTitle="subTitle" />
        </v-col>
        <v-col cols="12" md="9" lg="9" xl="10">
          <!-- <div id="toUp"></div> -->
          <main>
            <router-view />
          </main>
        </v-col>
      </v-row>
      <Footer />
    </v-container>
  </v-app>
</template>

<script>
import Sidebar from "./components/Sidebar.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  components: {
    Sidebar,
    Footer,
  },
  data: () => ({
    siteTitle: "eminders",
    subTitle: "Des bases pour programmer",
  }),
};
</script>

<style>
main {
    height: 100vh;
}

body {
  font-size: 1.2em;
}

a {
  text-decoration: none !important;
}

a,
a:focus,
a:visited {
  color: #000 !important;
}

a:hover {
  color: #ff9808 !important;
}

main {
  margin-top: 5em;
}

.footer {
  background-color: red;
}
</style>
